aioredis==1.3.1
appnope==0.1.2
asgiref==3.4.1
astroid==2.9.1
async-timeout==4.0.2
attrs==21.4.0
autobahn==21.11.1
Automat==20.2.0
backcall==0.2.0
bcrypt==3.2.0
black==21.12b0
boto3==1.20.24
botocore==1.23.27
certifi==2021.10.8
cffi==1.15.0
channels==3.0.4
channels-redis==3.3.1
charset-normalizer==2.0.9
click==8.0.3
constantly==15.1.0
coreapi==2.3.3
coreschema==0.0.4
cryptography==36.0.0
daphne==3.0.2
decorator==5.1.0
Django==3.2.8
django-cors-headers==3.10.0
django-crontab==0.7.1
django-extensions==3.1.5
django-filter==21.1
django-storages==1.12.3
djangorestframework==3.13.1
drf-nested-routers==0.93.4
drf-yasg==1.20.0
gunicorn==20.1.0
hiredis==2.0.0
hyperlink==21.0.0
idna==3.3
importlib-metadata==4.10.0
incremental==21.3.0
inflection==0.5.1
ipdb==0.13.9
ipython==7.30.1
isort==5.10.1
itypes==1.2.0
jedi==0.18.1
Jinja2==3.0.3
jmespath==0.10.0
lazy-object-proxy==1.7.1
Markdown==3.3.6
MarkupSafe==2.0.1
matplotlib-inline==0.1.3
mccabe==0.6.1
msgpack==1.0.3
mypy-extensions==0.4.3
mysqlclient==2.0.3
packaging==21.3
parso==0.8.3
pathspec==0.9.0
pexpect==4.8.0
pickleshare==0.7.5
platformdirs==2.4.1
prompt-toolkit==3.0.24
ptyprocess==0.7.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.21
Pygments==2.11.1
PyJWT==2.3.0
pylint==2.12.2
PyMySQL==1.0.2
pyOpenSSL==21.0.0
pyparsing==3.0.7
python-dateutil==2.8.2
pytz==2021.3
requests==2.26.0
ruamel.yaml==0.17.20
ruamel.yaml.clib==0.2.6
s3transfer==0.5.0
service-identity==21.1.0
six==1.16.0
sqlparse==0.4.2
toml==0.10.2
tomli==1.2.3
traitlets==5.1.1
Twisted==21.7.0
txaio==21.2.1
typing_extensions==4.0.1
uritemplate==4.1.1
urllib3==1.26.7
wcwidth==0.2.5
wrapt==1.13.3
zipp==3.7.0
zope.interface==5.4.0
